// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$tablet-width: 1024px;
$mobile-width: 600px;
//colors
$primary-color: #29B363;
$secondary-color:#2C7EDB;